<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-3">
                <!-- <div class="logo">
                    <img src="../assets/bank-building.webp" alt="Logo">
                </div> -->
            </div>
            <div class="col-md-9 col-sm-9 col-9">
                <div class="menu text-end">
                    <ul>
                        <li>Home</li>
                        <li>About Us</li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<router-outlet></router-outlet>